@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Antonio', sans-serif;
  color: #fff;
  background-color: #282c34;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #cc99cc;
}
.navbar h1 {
  color: #ff9900;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #ff9900;
}
.navbar a:hover {
  color: #ffb84d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.home h2 {
  color: #99ccff;
}
.button {
  color: #282c34;
  background-color: #ffcc66;
  border: none;
  border-radius: 30px;
  padding: .2rem .5rem;
  margin: .5rem;
  font-weight: 600;
}
.log-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #cc99cc;
}
.log-preview:hover {
  box-shadow: 1px 1px 1px 1px #ffcc66;
}
.log-preview h2 {
  margin-bottom: 8px;
}
.log-preview h3 {
  font-weight: 400;
  color: #cc99cc;
}